<div class="slpchart02">
    <div id="chartcontent">
        <div id="charttext">
            <div class="infotext_default textactive">
                <div class="instructions">
                    Find out about age-specific behaviors warranting a swallow assessment<br><br>
                    <b>Click on each child to learn more  --&gt;</b>
                </div>
            </div>
            <% for (var i = 0; i < items.length; i++) { %>
                <% var item = items[i]; %>
                <div class="text<%=item.label%>">
                <%=item.content%>
            </div>
            <% } %>
        </div>

        <div id="chartnav">
            <img name="imagemap_shim" id="imagemap_shim" usemap="#imageMapArea" src="<%= background %>" />
            <% for (var i = 0; i < items.length; i++) { %>
                <% var item = items[i]; %>
                <div id="chart_nav<%=item.label%>" class="nav<%=item.label%>"></div>
            <% } %>
        </div>
    </div>

    <map name="imageMapArea" id="imageMapArea">
        <% for (var i = 0; i < items.length; i++) { %>
            <% var item = items[i]; %>
            <area shape="<%=item.map_area_shape%>" coords="<%=item.coordinates%>" alt="<%=item.label%>">
        <% } %>
    </map>
</div>